.page {
  height: 100vh;
  display: flex;
  justify-content: left; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.sidebar {
  width: 300px;
  height: 900px;
  background: #2c3e50;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar button {
  margin-bottom: 10px;
  color: black;
  background: white;
  border: 3px solid #fff;
  padding: 10px;
  cursor: pointer;
}
/*.btn-custom {
  width: 100%;
  padding: 10px;
}*/
.btn-primary {
  background-color: #374451;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #19334d;
}

.content {
  flex: 1;
  padding: 20px;
}
